html {
    background: url('../../assets/images/x_wing.jpg') center fixed; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

body {
    font-family: "Lucida Console", Monaco, monospace;
}

p {
    font-size: 20px; 
}

img {
    max-width: 100%;
}

.container {
    width:90%;
    margin: auto;
}

.heading {
    width: 100%;
    line-height: 50px;
}

.heading h1 {
    font-size: 40px;
    text-align: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.img_contain {
    width:80%;
}

.img_box, .enemy_box, .defend_box {
    width: 20%;
    height: 9rem;
    display:inline-block;
    float: left;
    background: white;
    position: relative;
    border: 5px solid green;
    cursor: pointer;
    margin-right: 7px;
}

.img_box img, .enemy_box img, .defend_box img {
    width: 85%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 75%;
}
.player_character{
    height: 2.25rem;
    width: 100%;
}

.enemy_box {
    background: red;
    border-color: black;
}
.defend_box {
    background: black;
    color: #fefefe;
}

.cast_name {
    position: absolute;
    top: 7%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: .9em;
}
.health_stat {
    position: absolute;
    bottom: -3%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: .9em;
}
.status {
    width: 100%;
    clear: both;
    font-size:.75em;
}
